<section class="section experience">
  <div class="section__title">Education</div>
  <div class="section__content">
    <div class="jobs">
      {% for edu in site.data.education %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            {% if edu.url %}
              <a href="{{edu.url}}" target="_blank">{{edu.school}}</a>
            {% else %}
              {{edu.school}}
            {% endif %}
          </div>
          <div class="job__time">{{edu.time}}</div>
        </div>
        <div class="job__position">{{edu.degree}}</div>
      </div>
      {% endfor %}
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>
